h1{
    margin-top: 0px;
    padding: 30px;
    color: #00FFFF
}

h2{
    padding: 10px;
    color: #5F9EA0
}

h5{
    color: #D2691E
}

p{
    color: #696969
}

IonList{
    padding-inline-start: 20px;
}

img{
    
    
}